//  定义结构元素 flex

// flex
.flex {
  &-content {
    display: flex;
    &-align {
      align-items: center;
    }
    &-justify {
      justify-content: center;
    }
  }
  &-left {
    flex: 1;
    min-width: 0;
  }
  &-right {
    flex-shrink: 0;
    padding-left: 10px;
    text-align: right;
  }
}

.container-wrapper {
  width: 100%;
  height: 100%;
  background-color: @background-grayer-color;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.btn {
  height: 44px;
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: @font-large;
  -webkit-appearance: none;
  outline: none;
  &-block {
    width: 100%;
  }
  &-large {
    height: 50px;
  }
  &-radius-none {
    border-radius: 0;
  }
  &-primary {
    background-color: @main-theme-color;
    border: 1px solid @main-theme-color;
    color: @white;
    &:hover {
      background-color: @main-theme-light;
      border-color: @main-theme-light;
    }
  }
  &-default {
    background-color: @white;
    border: 1px solid @white;
    color: @redDark;
  }
  &-disabled {
    background-color: @whiteFilter;
    border: 1px solid @whiteFilter;
    color: @white;
  }
}

.cell {
  position: relative;
  padding: 0 17px;
  color: @text-color;
  font-size: @font-large;
  line-height: 1;
  background-color: @white;
  &:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: @border-color-dark;
    transform: scale(1, .5);
  }
  &-group {
    padding: 0 0 0 17px;
    background-color: @white;
    .cell {
      padding-left: 0;
      &:nth-last-child(1) {
        &:after {
          transform: scale(1, 0);
        }
      }
    }
  }
  &-inner {
    padding: 16px 0;
    &-lr {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-right {

  }
}

