.font-large {
  font-size: @font-large;
}
.font-larger {
  font-size: @font-larger;
}
.font-weight_800 {
  font-weight: @font-weight_800;
}

@font-small: 13px;
@font-large: 16px;
@font-larger: 18px;
@font-weight_500: 500;
@font-weight_800: 800;
