.font-large {
  font-size: @font-large;
}
.font-larger {
  font-size: @font-larger;
}
.font-weight_800 {
  font-weight: @font-weight_800;
}

@font-smallest: 10px;
@font-smaller: 12px;
@font-small: 13px;
@font-normal: 14px;
@font-large: 16px;
@font-larger: 18px;
@font-largest: 20px;
@font-huge: 22px;
@font-hugest: 28px;
@font-hugeMore: 32px;
@font-weight_400: 400;
@font-weight_500: 500;
@font-weight_600: 600;
@font-weight_800: 800;

.mt2 {
  margin-top: 2px;
}
.mt10 {
  margin-top: 10px;
}
.mt14 {
  margin-top: 14px;
}
.mt16 {
  margin-top: 16px;
}
.mt20 {
  margin-top: 20px;
}
.mt27 {
  margin-top: 27px;
}
.mt30 {
  margin-top: 30px;
}
.mb16 {
  margin-bottom: 16px;
}
.plr16 {
  padding-left: 16px;
  padding-right: 16px;
}
.p16 {
  padding: 16px;
}
