input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected {
  background-color: transparent !important;
  background-image: none !important;
  color: #333 !important;
}
body, p, b, small, strong, code, h1, h2, h3, h4, h5, h6, div, label, span {
  padding: 0;
  margin: 0;
  font-weight: normal;
  box-sizing: border-box;
}

body {
  background-color: @background-color;
  -webkit-font-smoothing: antialiased;
}

.van-modal {
  background-color: rgba(0,0,0,.3);
}

.van-dialog__confirm,
.van-dialog__confirm:active,
.van-dialog__confirm span,
.van-dialog__confirm:active span{
  color: @main-theme-color;
}
.van-dialog__message {
  text-align: center;
}

.van-picker__title {
  color: @text-color-light;
}
.van-picker__confirm {
  color: @main-theme-color;
}
.van-picker__cancel {
  color: @text-color-lighter;
}

